<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Crown Copyright
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- various exclusions to reduce the logging noise -->
    <logger name="org.apache.hadoop" level="error"/>
    <logger name="org.mortbay.log" level="error"/>
    <logger name="org.apache.zookeeper" level="error"/>

    <logger name="stroom.timeline" level="debug"/>

    <logger name="stroom.timeline.hbase.table" level="debug"/>

    <!-- some unknown library classes are logging to info and warn so make the default error and
    white list what we do want -->
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>